src/flows/Action_Status_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ContactedStatus_Assignment</name>
        <label>ContactedStatus Assignment</label>
        <locationX>666</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.Client_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dormant_Status</name>
        <label>Dormant Status</label>
        <locationX>945</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.Client_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dormant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Engaged_Status</name>
        <label>Engaged Status</label>
        <locationX>1277</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.Client_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Engaged</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PreContactDefaultValue</name>
        <label>PreContactDefaultValue</label>
        <locationX>378</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>AccountVar.Client_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contacted_Status</name>
        <label>Contacted Status</label>
        <locationX>662</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TaskContactedisNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskListDefault</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactedStatus_Assignment</targetReference>
            </connector>
            <label>TaskContactedisNotEmpty</label>
        </rules>
        <rules>
            <name>TaskContactedisEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskListDefault</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Behaviour</targetReference>
            </connector>
            <label>TaskContactedisEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Behaviour</name>
        <label>Default Behaviour</label>
        <locationX>382</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreContactDefaultValue</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>DormantStatus</name>
        <label>Dormant Status</label>
        <locationX>943</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isDormant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskListCreated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dormant_Status</targetReference>
            </connector>
            <label>isDormant</label>
        </rules>
        <rules>
            <name>isNotDormant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskListCreated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacted_Status</targetReference>
            </connector>
            <label>isNotDormant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Engaged_Status_Desicion</name>
        <label>Engaged Status</label>
        <locationX>1277</locationX>
        <locationY>391</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OppIsNotEmpty</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>OppList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaged_Status</targetReference>
            </connector>
            <label>OppIsNotEmpty</label>
        </rules>
        <rules>
            <name>OppIsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DormantStatus</targetReference>
            </connector>
            <label>OppIsEmpty</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreatedDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(year({!$Flow.CurrentDate}), (Month({!$Flow.CurrentDate}) -6), Day({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Action Status Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Status Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>EngagedTaskList</name>
        <label>EngagedTaskList</label>
        <locationX>1491</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryDormant</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountVar.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskList</outputReference>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupForTasks</name>
        <label>LookupForTasks</label>
        <locationX>1485</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryOppsForAcc</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountVar.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskListDefault</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryDormant</name>
        <label>QueryDormant</label>
        <locationX>1495</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Engaged_Status_Desicion</targetReference>
        </connector>
        <filters>
            <field>DateDormCheck__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>LstModDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountVar.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskListCreated</outputReference>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryOppsForAcc</name>
        <label>QueryOppsForAcc</label>
        <locationX>1489</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EngagedTaskList</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountVar.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppList</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AccountUpdate</name>
        <label>AccountUpdate</label>
        <locationX>946</locationX>
        <locationY>795</locationY>
        <inputReference>AccountVar</inputReference>
    </recordUpdates>
    <startElementReference>LookupForTasks</startElementReference>
    <variables>
        <name>AccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LstModDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskListCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskListDefault</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVarDormant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
